.FlagsChallenge {
  h2 {
    color: green;
  }

  .cssModules {
    font-weight: bold;
  }

  .flagContainer1 {
    width: 19em;
    height: 12em;
    border: 1px dotted black;
    display: block;
    margin: 1rem;
  }

  .flagExample {
    max-width: 100px;
    max-height: 100px;
    margin: 1em 3em;
  }

  .FlagOfJapan {
    // IMPLEMENT YOUR FLAG CSS HERE
  }

  .FlagOfEngland {
    // IMPLEMENT YOUR FLAG CSS HERE
  }

  .FlagOfUAE {
    // IMPLEMENT YOUR FLAG CSS HERE
  }
}
